@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', light;
  width: 100%;
  margin: 0px;
}
h1, h2 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}
img {
  border: 2px dashed blue;
  padding: 0.5em;
  float: left;
  margin-bottom: 1em;
}
input {

}
button {

}
nav ul {
  list-style-type: none;
  clear: both;
}
nav ul li {
  float: left;
  margin-right: 3em;
}
.header, .content, .footer {
  padding: 1em;
}

.header, .content {
  margin-bottom: 1em;
}
.header {
  vertical-align: center;
  background-color: skyblue;
  border-bottom: 1px solid black;
}
.header h1 {
  display: inline-block;
  margin: 1em 0px 0px 1em;
}
.footer {
  clear: both;
  min-height: 10em;
  background-color: #ddd;
}
.content {
  clear: both;
}
.row {

}
.column {

}
.note {
  color: white;
  background-color: steelblue;
}
.request {

}

.note, .request {
  float: left;
  border: 1px solid grey;
  padding: 1em;
  height: 200px;
  width: 250px;
  margin-right: 1em;
}
